.section-five {
    width: 100%;
}

.special {
    background:  #343640;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
        color:  #FFF;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    @media (max-width: 540px) {
        height: 40px;
        h3 {
            font-size: 20px;
            letter-spacing: 1px;
        }
    }
}

.block-five {
    max-width: 1230px;
    padding: 80px 15px 0px 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 90px;
    row-gap: 30px;
    span {
        cursor: pointer;
        text-align: center;
        grid-column: span 2;
        color: #343640;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        text-decoration-line: underline;
    }

    @media (max-width: 540px) {
        padding: 40px 10px 0px 10px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        span {
            font-size: 14px;
            line-height: normal;
        }
    }

}

.item-five {

    p {
        color: #343640;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        @media (max-width: 540px) {
            font-size: 16px;
            line-height: 16px;
        }
    }
}

.big {
    color: #343640;
    font-size: 40px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal !important;
    @media (max-width: 540px) {
        font-size: 20px !important;
    }
}